.nav-item:hover{
    transform: scale(1.15);
}
.navbar-brand:hover{
   transform: translateY(-5px); transition: 0.3s;
}
.vurgu:hover{
    color: #3335ca;
    transition: 0.7s;
}
.button1:hover{
    background-color: #002beb;
    transition: 0.7s;
    transform: translateY(-5px); transition: 0.3s;
}
.button2:hover{
    background-color: #e2cd0d;
    transition: 0.7s;
    transform: translateY(-5px); transition: 0.3s;
}
.button3:hover{
    background-color: #2ec04d;
    transition: 0.7s;
    transform: translateY(-5px); transition: 0.3s;
}
/*.card-body:hover{
     transition: 0.9s;
    background-color: rgb(82, 99, 192);
}
*/
